nav {
    margin-bottom: 150px;
    display: flex;
    justify-content: space-around;
}

.box {
    display: flex;
    justify-content: space-around;
}

#bloco {
    width: 200px;
    height: 200px;
    background-color: black;
}

#bloco2 {
    width: 200px;
    height: 200px;
    background-color: red;
}

/* aula 10 */

.texto10,
.texto10 p,
.texto10 span {
    border: 1px solid red;
    padding: 10px;
    ;
}

.texto10 p {
    border: 1px solid blue;
}

p span {
    border: 1px solid green;
}